body{
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/3.jpg) ;
	background-position: center center; 
	background-repeat: no-repeat; 	
	background-size:cover;
}
#header{
	background-color:#ffffff;
}
#header #logo , #header #myname , #header #fb ,#header #ig ,#header #utube{
	display:inline-block;
	vertical-align:top;
}
#header #logo{
	width:50px;
	height:50px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/leave.png) ;
	background-position: center center; 
	background-repeat: no-repeat; 	
	background-size:cover;
}
#header #myname{
	margin-left:50px;
	height:50px;
	font-size:200%;
	text-align:bottom;
}
#header #fb{
	margin-left:500px;
	margin-right:50px;
	width:50px;
	height:50px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/fb.png) ;
	background-position: center center; 
	background-repeat: no-repeat; 	
	background-size:cover;
}
#header #ig{
	margin-left:50px;
	margin-right:50px;
	width:50px;
	height:50px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/ig.png) ;
	background-position: center center; 
	background-repeat: no-repeat; 	
	background-size:cover;
}
#header #utube{
	margin-left:50px;
	width:50px;
	height:50px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/utube.png) ;
	background-position: center center; 
	background-repeat: no-repeat; 	
	background-size:cover;
}
#content #left , #content #city1 , #content #city2 , #content #city3{
	display:inline-block;
	vertical-align:top;
}
#content #left{
	width:33%;
	height:600px;
	margin:10px 20px 10px 20px;
}
#content #left #name{
	height:10%;
	color:#ffffff;
	text-align:center;
	font-size:250%;
	border-top:#ffffff 2px solid;
}
#content #left #city{
	height:50px;
	font-size:150%;
	color:#ffffff;
	border-top:#ffffff 2px solid;
}
#content #left #paris{
	height:15%;
	color:#ffffff;
	text-align:center;
	font-size:200%;
	border-bottom:#ffffff 2px solid;
}
#content #left #interface{
	height:8%;
	color:#ffffff;
	margin-top:50px;
	font-size:150%;
}
#content #left #context{
	height:60%;
	color:#ffffff;
}
#content #city1{
    width:20%;
	height:500px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/paris.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:50px;
	text-align:center;
	font-size:300%;
	color:#ffffff;
}
#content #city2{
	width:20%;
	height:500px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/fuji.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:50px;
	text-align:center;
	font-size:300%;
	color:#ffffff;
}
#content #city3{
	width:20%;
	height:500px;
	background-image:url(https://luffy.ee.ncku.edu.tw/~e24051857/big.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:50px;
	text-align:center;
	font-size:300%;
	color:#ffffff;
}
